.client {
    .footer {
        background: #F7FAF7 !important;
    }
    .van-nav-bar {
        z-index: 999 !important;
    }
    .header {
        padding: 0.31rem 0.36rem;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        font-size: 0.24rem;
        color: #797A78;
        .header_left {
            .header_left_content {
                font-size: 0.4rem;
                color: #1B2B02;
                padding: 0 0 0.24rem;
            }
        }
        .header_right {
            text-align: center;
            color: #50A5F1;
            .van-icon {
                font-size: 0.32rem;
                text-align: center;
                padding: 0 0 0.3rem;
            }
        }
    }
    .content {
        font-size: 0.24rem;
        background: #F7FAF7;
        .content_list {
            padding: 0.2rem 0.2rem 0.36rem;
            box-sizing: border-box;
            background: white;
            box-shadow: 2px 0 8px rgba(111,162,37,0.3);
            margin: 0 0 0.3rem;
            .list_name {
                color: #1B2B02;
                font-size: 0.32rem;
                font-weight: bold;
                display: flex;
                justify-content: space-between;
                .zd {
                    color: #fe9b00;
                    font-size: 0.2rem;
                }
            }
            .list_start {
                margin: 0.12rem 0 0.27rem;
                display: flex;
                .van-rate {
                    svg {
                        width: 20px !important;
                    }
                }
                .timeF {
                    display: flex;
                    align-items: center;
                    .time {
                        color: #B6B6B6;
                        display: inline-block;
                        padding-left: 0.21rem;
                        border-left: 1px solid #B6B6B6;
                        margin: 0 0 0 0.19rem;
                        line-height: 0.28rem;
                    }
                }
            }
            .list_img {
                display: flex;
                img {
                    width: 2rem;
                    height: 2rem;
                    display: inline-block;
                    margin: 0 0.3rem 0.25rem 0;
                }
            }
            .list_content {
                color: #3E3D3D;
                font-size: 0.28rem;
            }
            p {
                word-wrap: break-word;
                word-break: break-all;
                overflow: hidden;
                line-height: 0.36rem;
            }
        }

    }
    .van-modal {
        background: rgb(76, 76, 76);
        //      background: black;
    }
    .scrollTop {
        width: 1rem;
        height: 1rem;
        color: #a1a1a1;
        position: fixed;
        right: 0.5rem;
        bottom: 1rem;
    }
    .daodila {
        font-size: 0.24rem;
        color: #B6B6B6;
        text-align: center;
        margin: 0 0 0.3rem;
    }
    .listPopupShow,
    .videoShow {
        .swiper-slide {
            display: flex;
            align-items: center;
            margin: auto;
        }
        img {
            max-width: 100%;
            //      height: 100%;
            max-height: 10rem;
            //      max-height: 5.4rem;
            align-items: center;
            margin: 0.3rem auto 0;
        }

        video {
            width: 100%;
            max-height: 5.4rem;
            margin-top: 0.3rem;
        }
    }
    .listPopupShow {
        background: rgba(0, 0, 0, 0.7);
        background: rgb(76, 76, 76);
        //  background: black;
        color: white;
    }
}
